
#blog-title {
    color: #FFACB7;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
  
  }


  .blog-container {
    margin-left: 19%;
    margin-right: 18%;
  
  }

  .blog1 {
    color: #FFACB7;
    border: #FFACB7 2px solid;
    border-radius: 5%;
    padding: 5%;
    margin-right: 3%;
  }

  .blog2 {
    color: #FFACB7;
    border: #FFACB7 2px solid;
    border-radius: 5%;
    padding: 5%;
    margin-right: 2%;
  }

  .blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2%;
  }

