
.footer-icon {
    width: 30px; /* Set the width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */

  }

  .footer {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    gap: 5%; /* Add space between icons */
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
  }